<a href="{{product.url}}" class="grid-product">
    <div class="pic background-parent">
      {% if product.featured_image %}
      	{% assign old_url = product.featured_image | img_url: 'master' %}
    	{% capture imageboss_url %}{% include 'imageboss' src:old_url, operation: 'width', size: '300', options: 'dpr:2' %}{% endcapture %}
        <img src="{{ imageboss_url}}" class="lazyload background" alt="{{ product.title }}"/>
      {% else %}
      	{% assign old_url = "https://cdn.shopify.com/s/files/1/2336/3219/files/citrus-no-image-available.jpg?17706093781375664629" %}
    	{% capture imageboss_url %}{% include 'imageboss' src:old_url, operation: 'width', size: '300', options: 'dpr:2' %}{% endcapture %}
        <img src="{{ imageboss_url }}" class="lazyload background" alt="{{ product.title }}"/>
      {% endif %}
      {% if product.available == false %}
		<div class="product-sticker" style="text-transform: uppercase;">   
        {% if product.metafields.sleepless.soldout_text != blank %}
          {{ product.metafields.sleepless.soldout_text }}
          {% else %}
          SOLD OUT
        {% endif %}
  		</div>
	{% endif %}
    </div>
    <div class="info">
        <p>{{product.title}}</p>
        {% for variant in product.variants %}
            <span class="m-grid-product_price">
              {% if variant.compare_at_price > product.price %}
                <s>{{ product.compare_at_price | money }}</s><br />
              {% endif %}
              {{variant.price | money_without_trailing_zeros}}
            </span>
        {% endfor %}
      
      {% capture current_url %}
      {% case template %}
        {% when 'page' %}{{page.url}}
        {% when 'blog' %}{% if current_tags %}/{{ current_tags.first | handleize }}{% endif %}
        {% when 'article' %}{{article.url}}
        {% when 'collection' %}{{collection.url}}{% if current_tags %}/{{ current_tags.first | handleize }}{% endif %}
        {% when 'product' %}{{product.url}}
      {% endcase %}
	{% endcapture %}
      
      {% if current_url contains 'collection'%}{% endif %}
      	<div class="yotpo bottomLine"
            data-product-id="{{ product.id }}">
            {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
            {%- assign time_now = 'now' | date: '%s' %}
            {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
            {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
            {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.catalog_bottomline_update_time | date: '%s' %}
            {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
            {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
              {%- assign yotpo_bottomline_obsolete = false %}
            {%- else %}
              {%- assign yotpo_bottomline_obsolete = true %}
            {%- endif %}
            {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
              {{ _product.metafields.yotpo.catalog_bottomline }}
            {%- endif %}
        </div>
      
    </div>
</a>