<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {% assign state_codes = settings.weather-states | split: "," %}
    
    <script>
        window.cart = {
          shipping_state: {{ checkout.shipping_address.province_code | json }},
          tags: [
            {% for line_item in checkout.line_items %}
                {% for tag in line_item.product.tags %}
                  {{ tag | remove: "weather-" | json }},
                {% endfor %}
            {% endfor %}
          ],
          weather_states: [
            {% for state in state_codes %}
              {{ state | json }},
            {% endfor %}
          ],
          weather_message: {{ settings.weather-message | json}}
        }
    </script>
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}


    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>


    <template id="alert__template" style="display: none;">
        <div role="alert" data-shipping-warning="" aria-atomic="true" aria-live="polite" class="notice notice--error"
          tabindex="-1"><svg class="icon-svg icon-svg--size-24 notice__icon" aria-hidden="true" focusable="false">
            <use xlink:href="#error">
                <svg id="error"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 24C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12zm0-2c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm0-16c.552 0 1 .448 1 1v5c0 .552-.448 1-1 1s-1-.448-1-1V7c0-.552.448-1 1-1zm-1.5 10.5c0-.828.666-1.5 1.5-1.5.828 0 1.5.666 1.5 1.5 0 .828-.666 1.5-1.5 1.5-.828 0-1.5-.666-1.5-1.5z"></path></svg></svg>
            </use>
          </svg>
          <p class="notice__text">As mentioned in our <a href="https://www.fourwindsgrowers.com/pages/shipping-information">Shipping Terms</a>, due to agricultural restrictions we are unable to ship citrus / curry items to Texas, Arizona, or Florida. Please remove citrus / curry items from your cart or change your shipping address.</p>
        </div>
    </template> 
    <template id="alert__weather" style="display: none;">
      <div role="alert" data-shipping-warning="" aria-atomic="true" aria-live="polite" class="notice notice--error"
        tabindex="-1" style="margin-top: 42px;"><svg class="icon-svg icon-svg--size-24 notice__icon" aria-hidden="true" focusable="false">
          <use xlink:href="#error">
              <svg id="error"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 24C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12zm0-2c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm0-16c.552 0 1 .448 1 1v5c0 .552-.448 1-1 1s-1-.448-1-1V7c0-.552.448-1 1-1zm-1.5 10.5c0-.828.666-1.5 1.5-1.5.828 0 1.5.666 1.5 1.5 0 .828-.666 1.5-1.5 1.5-.828 0-1.5-.666-1.5-1.5z"></path></svg></svg>
          </use>
        </svg>
        <p class="notice__text">{{ settings.weather-message }}</p>
      </div>
  </template> 

    {{ tracking_code }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   {{ 'checkout_script.js' | asset_url | script_tag }} 
  </body>
</html>



