<header class="m-page_header" id="navbar">
  {% include 'ann_bar' %}
  <script>
    $('body').addClass('announcement-visible');
  </script>
  <div class="m-header header-wrapper">
    <nav class="m-nav_top l-container_fake top-nav">
      <ul class="m-nav_list">
        <li
          class="mobile-right"
          {% if section.settings.hidewholesale == true %}
            style="display: none;"
          {% endif %}
        >
          <a class="m-nav_link--text" href="{{ settings.wholesale-link }}">Wholesale</a>
        </li>
        <li class="mobile-right">
          <a class="m-nav_link--text" href="/pages/contact-us">Contact</a>
        </li>
        {% comment %}
          <li class="l-float_right">
            <span class="m-nav_announcement">
              {{ section.settings['nav-announcement'] }}
            </span>
          </li>
        {% endcomment %}
      </ul>
    </nav>
    {% include 'header-nav-content' %}
    <a class="m-nav_logo{% if template != "index" %} interior{% endif %}" alt="header-icon" href="/" id="nav-logo">
      {% assign old_url = section.settings.logo | img_url: 'master' %}
      {% capture imageboss_url %}{% include 'imageboss' src:old_url, operation: 'width', size: '150', options: 'dpr:2' %}{% endcapture %}
      <img src="{{ imageboss_url }}" alt="{{ section.settings.logo.alt }}">
    </a>
    <a
      class="m-nav_logo{% if template != "index" %} interior{% endif %}"
      alt="header-icon"
      href="/"
      id="dummy-nav-logo"
    >
      {% assign old_url = section.settings.logo | img_url: 'master' %}
      {% capture imageboss_url %}{% include 'imageboss' src:old_url, operation: 'width', size: '150', options: 'dpr:2' %}{% endcapture %}
      <img src="{{ imageboss_url }}" alt="{{ section.settings.logo.alt }}">
    </a>
  </div>
  {% include 'flyout', currList: section.settings['main-menu'] %}
</header>
<div id="flyout-overlay" class="flyout-button"></div>
<div id="scroll-shadow"></div>

{% if collection %}
  <div class="collectionHeadRow">
    {% assign old_url = collection.image | img_url: 'master' %}
    {% capture imageboss_url %}{% include 'imageboss' src:old_url, operation: 'width', size: '60', options: 'dpr:2' %}{% endcapture %}
    <img src="{{ imageboss_url }}" alt="header-icon" height="50" class="m-nav_drop-image">
    {% if product.title %}
      <h4>{{ collection.title }}</h4>
    {% else %}
      {% if current_tags[0] == NULL %}
        <h1>{{ collection.title }}</h1>
      {% else %}
        <h1>{{ collection.title }} - {{ current_tags[0] }}</h1>
      {% endif %}
    {% endif %}
  </div>
  <!--
    <div class="m-collection-menu">
      {{secondShopMenu}}
    </div>
    <style>
      .m-collection-menu > .m-nav_link-submenu--shop {
        background-image:url({{section.settings.shop-menu-bg | img_url: '2000x'}});
        background-position:center;
        background-size:cover;
      }
    </style>
  -->
{% endif %}

{% schema %}
{
  "name": "Header",
  "class": "m-page_header--container",

  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Main Logo"
    },
    {
      "type": "link_list",
      "id": "main-menu",
      "label": "Main Menu List"
    },
    {
      "type": "checkbox",
      "id": "enable-shop",
      "label": "Use Complicated Shop Menu"
    },
    {
      "type": "image_picker",
      "id": "shop-menu-bg",
      "label": "Background for collection page menu"
    },
    {
      "id": "nav-announcement",
      "type": "text",
      "label": "Nav Announcement",
      "default": "10% discount on Orders of $120.00 or more!"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show Top Announcement",
      "default": true
    },
    {
      "id": "hidewholesale",
      "type": "checkbox",
      "label": "Hide Wholesale link?"
    }
  ],
  "blocks": [
    {
      "type": "shop_column",
      "name": "Shop Column",
      "limit": 4,
      "settings": [
        {
          "type": "collection",
          "id": "collection-item-one",
          "label": "Collection #1",
          "info": "Image used is the collections featured image, links can be changed in Navigation in the Shopify admin."
        },
        {
          "type": "collection",
          "id": "collection-item-two",
          "label": "Collection #2"
        }
      ]
    },
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "header_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "announcement_link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "text",
          "id": "announcement_link_text",
          "label": "Link Text"
        }
      ]
    }
  ]
}
{% endschema %}
