<section data-section-id="{{ section.id }}" class="l-bg_tan">
  <div class="m-instafeed_header">
    <div class="container l-padding_instagram l-text_center">
      <i class="fa fa-instagram l-text_orange mobile-insta"></i>
      <h4 class="m-instafeed_title">{{section.settings.title}} <i class="fa fa-instagram l-text_orange"></i></h4>
      <a href="{{ section.settings.instagram_url }}" target="_blank" class="m-instafeed_text">{{section.settings.subtitle}}</a>
    </div>
  </div>
  <div class="instagram-feed-wrap">
    {% if section.settings.use_embedded and section.settings.embedded_ig_code != blank %}
      {{section.settings.embedded_ig_code}}
    {% else %}
      {% assign instagram_count = 8 %}
      <div id="instafeed" class="js-instafeed m-instafeed" data-client-id="{{ section.settings.instagram_client_id | strip }}" data-count="{{instagram_count}}"></div>
    {% endif %}
  </div>
  <div style="background-color:white">
  <div id="insta-feed"></div>
  <div class="yotpo yotpo-reviews-carousel"
data-background-color="transparent"
data-mode="top_rated"
data-type="product"
data-count="9"
data-show-bottomline="1"
data-autoplay-enabled="1"
data-autoplay-speed="3000"
data-show-navigation="1">&nbsp;</div>
  </div>
</section>



{% schema %}
{
  "name": "Instagram feed",
  "class": "instagram-feed-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_embedded",
      "label": "Use Embedded App Code",
      "info": "If you use a 3rd party service for this, you miss out on styling."
    },
    {
      "type": "textarea",
      "id": "embedded_ig_code",
      "label": "Embedded Instagram Code (from your app)"
    },
    {
      "type": "text",
      "id": "instagram_client_id",
      "label": "Instagram Access Token ([?](http:\/\/outofthesandbox.com\/pages\/instagram-access-token))"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Instagram title",
      "default": "Follow Us On Instagram"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "@fourwindsgrowers"
    },
    {
      "type": "text",
      "id": "instagram_url",
      "label": "Instagram URL",
      "default": "http://www.instagram.com/socksmith"
    }
  ],
  "presets": [{
    "name": "Instagram feed",
    "category": "Sleepless Media"
  }]
}

{% endschema %}